.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px;
    font-size: 18px;
}

.navbar {
    display: flex;
    gap: 12px;
}

.logo {
    width: 129px;
    height: 104px;
}

.address {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

.header > .address {
    justify-self: end;
}

.cover {
    position: relative;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(0, 0, 0, 0.6);
    background-blend-mode: darken;
}

.cover-title {
    position: relative;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 100px;
    font-weight: 600;
    color: white;
    letter-spacing: 2rem;
    line-height: 115%;
    text-transform: uppercase;
    padding: 165px 50px 106px 50px;
}

.cover-title--second {
    align-self: center;
}

.cover-title--third {
    display: inline-block;
    width: 400px;
    align-self: end;
    text-align: right;
}

.description {
    display: flex;
    padding: 0 50px 50px 50px;
    color: white;
    font-size: 22px;
    text-transform: uppercase;
}

.description > p {
    display: flex;
    align-items: center;
    flex: 1;
    word-spacing: 16px;
}

.description > button {
    background-color: transparent;
    color: inherit;
    border: 1px solid white;
    padding: 12px 32px;
    text-transform: uppercase;
}

.lots {
    padding-top: 180px;
    padding-bottom: 120px;
}

.lots-title {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 0 27px 64px;
}

.lots-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.lots-item {
    width: 334px;
    min-height: 596px;
}

.lots-item > a {
    display: flex;
    width: 100%;
    height: 100%;
}

.card {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0, 0.6);
    background-blend-mode: darken;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: white;
    padding: 48px 40px;
}

.card-1 {
    background-image: url("../images/card-lot-01.jpg");
}

.card-2 {
    background-image: url("../images/card-lot-02.jpg");
}

.card-3 {
    background-image: url("../images/card-lot-03.jpg");
}

.card-title {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 22px;
}

.card-text {
    font-size: 20px;
}

.see-more {
    font-size: 20px;
    margin-left: 64px;
    border-bottom: 1px solid black;
}

.about {
    display: grid;
    column-gap: 25px;
    grid-template-columns: 334px auto;
    padding: 35px 24px;
    margin-bottom: 180px;
    height: 595px;
}

.circle-container {
    display: flex;
    justify-content: center;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.about-logo {
    width: 148px;
    height: 114px;
}

.about-content {
    padding-top: 98px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-title {
    text-transform: uppercase;
    font-size: 40px;
}

.about-text {
    font-size: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 82px 50px;
}

.footer__menu {
    display: flex;
    flex-direction: column;
}

.footer__social-list {
    display: flex;
    gap: 48px;
}

.footer__social-icon {
    width: 48px;
}
